
<div class="row">
	<div class="col-md-9">

		<div class="panel panel-default">
			<div class="panel-heading panel-heading-toolbox">
				<div class="panel-title">
					Detalle de la partida
				</div>
				<div class="panel-toolbar">
					<%= link_to 'Volver', games_path, :class => "btn btn-link" %>
					<% if false %>
					<%= link_to edit_game_path(@game), :class => "btn btn-default" do %><i class="fa fa-pencil"></i> Editar<% end %>
					<%= link_to @game, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" do %><i class="fa fa-trash-o"></i> Eliminar<% end %>
					<% end %>
				</div>
			</div>
			<div class="panel-body">
				
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th><%= t(:id, scope: [:helpers, :label, :game]) %>:</th>
							<td><%= @game.get_code %></td>
						</tr>
						<tr>
							<th><%= t(:created_at, scope: [:helpers, :label, :game]) %>:</th>
							<td><%= @game.created_at %></td>
						</tr>
						<tr>
							<th><%= t(:result, scope: [:helpers, :label, :game]) %>:</th>
							<td><%= @game.result %></td>
						</tr>
						<tr>
							<th><%= t(:bets, scope: [:helpers, :label, :game]) %>:</th>
							<td><%= @game.bets.count %></td>
						</tr>
						<tr>
							<th><%= t(:winners, scope: [:helpers, :label, :game]) %>:</th>
							<td><%= @game.winners.count %></td>
						</tr>
						<tr>
							<th><%= t(:amount, scope: [:helpers, :label, :game]) %>:</th>
							<td><%= as_money @game.amount %></td>
						</tr>
					</tbody>
				</table>

				<h4>Apuestas</h4>
				<table class="table">
					<thead>
						<tr>
							<th width="100px"><%= t(:id, scope: [:helpers, :label, :bet]) %></th>
							<th><%= t(:player, scope: [:helpers, :label, :bet]) %></th>
							<th><%= t(:target, scope: [:helpers, :label, :bet]) %></th>
							<th><%= t(:amount, scope: [:helpers, :label, :bet]) %></th>							
							<th><%= t(:result, scope: [:helpers, :label, :bet]) %></th>							
						</tr>
					</thead>
					<tbody>
						<% @game.bets.each do |bet| %>
						<tr>
							<td><%= bet.get_code %></td>
							<td><%= bet.player %></td>
							<td><%= bet.target %></td>
							<td><%= as_money bet.amount %></td>
							<td><%= (bet.target == bet.game.result && bet.target != "Ninguno") ? "Ganador" : "Perdedor" %></td>
						</tr>
						<% end %>
					</tbody>
				</table>

			</div>
		</div>

	</div>
	<div class="col-md-3">

		<%= render "info" %>

	</div>
</div>