
<div class="row">
	<div class="col-md-9">

		<div class="panel panel-default">
			<div class="panel-heading panel-heading-toolbox">
				<div class="panel-title">
					<%= t(:detail, scope: [:helpers, :scaffold]) %>
				</div>
				<div class="panel-toolbar">
					<%= link_to 'Volver', players_path, :class => "btn btn-link" %>
					<%= link_to edit_player_path(@player), :class => "btn btn-default" do %><i class="fa fa-pencil"></i> Editar<% end %>
					<%= link_to @player, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" do %><i class="fa fa-trash-o"></i> Eliminar<% end %>
				</div>
			</div>
			<div class="panel-body">
				
				<table class="table table-bordered">
					<tbody>
						<tr>
							<th><%= t(:id, scope: [:helpers, :label, :player]) %></th>
							<td><%= @player.id %></td>
						</tr>
						<tr>
							<th><%= t(:name, scope: [:helpers, :label, :player]) %>:</th>
							<td><%= @player.name %></td>
						</tr>
						<tr>
							<th><%= t(:balance, scope: [:helpers, :label, :player]) %>:</th>
							<td><%= as_money @player.balance %></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

	</div>
	<div class="col-md-3">

		<%= render "info" %>

	</div>
</div>